= render partial: "partials/header"
.wrapper
  %section.presentation
    .container
      %header.innerpage
        %figure.logo
          = link_to image_tag("logo_startechconf_2013@2x.png", alt: t("sitename")), "/"
        %h1 StarTechConf Code of Conduct
  %section.coc
    .container
      %p
        All attendees, speakers, sponsors and volunteers at our conference are required to agree with the following code of conduct. Organizers will enforce this code throughout the event. We are expecting cooperation from all participants to help ensure a safe and friendly environment for everybody.
      %p
        %em Summed up: Don’t be a Jerk.
      %h2 The Quick Version
      %p
        Our conference is dedicated to providing a harassment-free conference experience for everyone, regardless of gender, sexual orientation, physical ability, physical appearance, body size, race, or religion. We do not tolerate harassment of conference participants, speakers, volunteers, or sponsors in any form. Sexual language and imagery is not appropriate for any conference venue, including talks, workshops, parties, Twitter and/or other online media. Conference participants violating these rules may be sanctioned or expelled from the conference <em>without a refund</em> at the discretion of the conference organizers.

      %h2 The Longer Version
      %p Harassment includes: offensive verbal comments related to gender, sexual orientation, disability, physical appearance, body size, race, or religion; sexual images in public spaces, deliberate intimidation; stalking or following; harassing photography or recording; sustained disruption of talks or other events; inappropriate physical contact, and unwelcome sexual attention.
      %p Participants asked to stop any harassing behavior are expected to comply immediately.
      %p Sponsors are also subject to the anti-harassment policy. In particular, sponsors should not use sexualized images, activities, or other material of that nature. Booth staff (including volunteers) should not use sexualized clothing/uniforms/costumes, or otherwise create a sexualized environment.
      %p If a participant engages in harassing behavior, the conference organizers may take any action they deem appropriate, including warning the offender or expulsion from the conference with no refund.
      %p If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact a member of conference staff immediately. Conference staff can be identified as they'll be wearing branded t-shirts.
      %p We expect participants to follow these rules at conference and workshop venues and conference-related social events.
      %h2 Need assistance?
      %p If you are the victim of harassment, if you would like to report abuse of another person at the conference, or if you have any other concerns, please contact a member of the conference staff immediately. The personnel at the conference will be easily identifiable, as they will be wearing event T-shirts.
      %p If the problem is urgent, please contact any one of these staff members by phone:
      %ul
        %li Liliana Reyes (+569 7669 1128)
        %li Jano González (+569 7477 5923)
        %li Rodrigo Augosto (+569 8198 3683)
        %li Leo Soto (+569 8733 9008)
        %li If you cannot reach us by phone, please ask for help via contact@startechconf.com or <a href="http://twitter.com/startechconf">@startechconf</a>.
      %p The event staff will be happy to help any of the conference participants get in touch with hotel security, local authorities, provide an escort or help in any other way anyone who has been the subject of harassment during the conference. We truly value your attendance.
      %p
        %strong Remember that you can simply say “no” to something you don’t want to listen to or do. If your voice is not respected, we will help you.
      .footer
        %p
          %small
            %em
              Original source and credits:
              %a{:href => "http://2012.jsconf.us/#/about"} http://2012.jsconf.us/#/about
              \&amp;
              %a{:href => "http://geekfeminism.wikia.com/wiki/Conference_anti-harassment/Policy"} The Ada Initiative
              %br/
              Please, help translating or improving:
              %a{:href => "https://github.com/leftlogic/confcodeofconduct.com"} http://github.com/leftlogic/confcodeofconduct.com
              %br/
              This work is licensed under:
              %a{:href => "http://creativecommons.org/licenses/by/3.0/deed.en_US", :rel => "license"} Creative Commons Atribución 3.0 Unported License
