%header.title
  %h2
    = t(:startech_2011_html)

%p= t(:remember_2011_html)
.gallery.main
  #ri-grid.ri-grid.ri-grid-size-2
    = image_tag "loading.gif", class: "ri-loading-image"
    %ul
      - images.each do |src, href|
        %li
          %a{:href => href, :target => "_blank"}
            = image_tag src
