%header.title
  %h2
    Startechconf 2011

%p Recuerda como se vivi&oacute; la versi&oacute;n pasada de esta tremenda conferencia
.gallery.main
  #ri-grid.ri-grid.ri-grid-size-2
    = image_tag "loading.gif", class: "ri-loading-image"
    %ul
      - 95.times do |i|
        %li
          %a{:href =>"#"}
            = image_tag "medium/#{i + 1}.jpg"
