%header.title
  %h2
    = t(:place)
.container
  %p
    %strong.venue Universidad Técnica Federico Santa María, Campus San Joaquín
    %br
    Vicuña Mackenna 3939, Santiago, Chile
    %br
    Estación Camino Agrícola, Metro Línea 5
    %br
    <span style="font-size: 0.7em">* Sólo Viernes en la mañana, debes tomar trenes Ruta Verde.</span>
  .map
    %iframe{:frameborder => "0", :height => "350", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "https://www.google.cl/maps?f=q&source=s_q&hl=es&geocode=&q=Universidad+T%C3%A9cnica+Federico+Santa+Mar%C3%ADa+-+Vicu%C3%B1a+Mackenna,+Santiago&aq=4&oq=Universidad+T%C3%A9cnica+Federico+Santa+Mar&sll=-33.034571,-71.568203&sspn=0.046411,0.090895&ie=UTF8&hq=Universidad+T%C3%A9cnica+Federico&hnear=Universidad+T%C3%A9cnica+Federico+Santa+Mar%C3%ADa+-+Vicu%C3%B1a+Mackenna,+San+Joaqu%C3%ADn,+Santiago,+Regi%C3%B3n+Metropolitana&t=m&cid=9357019591317612751&z=14&iwloc=A&output=embed", :width => "600"}
  %p
    = link_to "Travel information and instructions (English)", "http://blog.startechconf.com/travel-information/", :target => "_blank"